<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="sequences.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
        <div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h3 class="text-campagin-name">Campaign Name :</h3>
                    <input>
                    <button type="button" class="btn btn-default btn-plus-seq-besar">+</button>
                </div>
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 box-seq-besar">
                                <div class="row">
                                    <div class="box-seq-status col-md-4">
                                        <h3 class="text-seq-stage">Stage/lvl<br></h3>
                                        <button type="button" class="btn btn-default btn-seq-besar-plus">On</button>
                                        <button type="button" class="btn btn-default btn-seq-besar-plus">Off</button>
                                        <div class="btn-group btn-seq-dropdown">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">    Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#">Action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Another action</a>
                                                </li>
                                                <li>
                                                    <a href="#">Something else here</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="#">Separated link</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn btn-default btn-seq-besar-plus">+</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 box-seq-child">
                                        <button type="button" class="btn btn-default btn-xs btn-seq-sms">SMS</button>
                                        <button type="button" class="btn btn-default btn-xs btn-seq-email">Email</button>
                                        <h3 class="text-nama-seq">Nama Seq</h3>
                                        <p class="text-seq-delay">456</p>
                                        <p class="text-seq-subject">Subject</p>
                                        <input type="text" class="form-control" placeholder="Placeholder text">
                                        <p class="text-seq-body">Body</p>
                                        <textarea class="form-control" rows="3"></textarea>
                                        <button type="button" class="btn btn-default btn-seq-delete">Delete</button>
                                        <button type="button" class="btn btn-default btn-seq-sent">Sent</button>
                                    </div>
                                    <div class="col-md-3 box-seq-child col-md-offset-1">
                                        <button type="button" class="btn btn-default btn-xs btn-seq-sms">SMS</button>
                                        <button type="button" class="btn btn-default btn-xs btn-seq-email">Email</button>
                                        <h3 class="text-nama-seq">Nama Seq</h3>
                                        <p class="text-seq-delay">456</p>
                                        <p class="text-seq-subject">Subject</p>
                                        <input type="text" class="form-control" placeholder="Placeholder text">
                                        <p class="text-seq-body">Body</p>
                                        <textarea class="form-control" rows="3"></textarea>
                                        <button type="button" class="btn btn-default btn-seq-delete">Label</button>
                                        <button type="button" class="btn btn-default btn-seq-sent">Label</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
