

.text-campagin-name
{
    display: inline-block;
}

.input-campaign-name
{
    display: inline-block;
}

.text-form-input
{
    width: 35%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 8px;
}

.text-seq-select
{
    display: inline;
    width: 34%;
    margin-left: 11px;
}

.box-seq-besar
{
    border-radius: 5px;
    background-color: #B6D7DE;
    margin-bottom: 15px;
}


.box-seq-child
{
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #FCEDDA;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
}

.box-seq-status
{
    float: right;
    display: inline-block;
}

.text-nama-seq
{
    display: inline;
    margin-right: 10px;
    color: #222831;
}

.btn-seq-email
{
    float: right;
}

.btn-seq-email-active
{
    float: right;
    background: #F96D00;
    color: #ffffff;
}

.btn-seq-sms
{
    float: right;
}

.btn-seq-sms-active
{
    float: right;
    background: #F96D00;
    color: #ffffff;
}

.text-seq-delay
{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #FF5126;
}

.text-seq-subject
{
    font-size: 18px;
    color: #FF5126;
}

.text-seq-body
{
    margin-top: 10px;
    font-size: 18px;
    color: #FF5126;
}

.btn-seq-delete
{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-seq-sent
{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    color: #FF5126;
}

.btn-seq-dropdown
{
}

.text-seq-stage
{
    display: inline;
    margin-top: 0px;
    float: right;
}

.btn-seq-besar-plus
{
    display: inline;
}

.btn-plus-seq-besar
{
    float: right;
}

.btn-seq-besar-create
{
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-seq-besar-delete
{
    float: right;
}

.btn-create-campaign
{
    margin-left: 2px;
}

.btn-seq-on
{
    display: inline;
    background-color: #3bf140;
    color: #f9f9f9;
}

.btn-seq-off
{
    background-color: #d11c1c;
    display: inline;
    color: #f9f9f9;
}

.box-seq-container-name
{
    display: inline-block;
    float: left;
}

.text-seq-container-name
{
    display: inline;
    margin-top: 0px;
    float: left;
}

.input-seq-container-name
{
    width: 32%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 8px;
}

.input-seq-stage
{
    width: 21%;
    display: inline-block;
    margin-bottom: 8px;
    float: right;
}

.btn-back
{
    position: absolute;
    top: 60px;
    left: 25px;
}

.btn-seq-besar-minimize
{
    float: right;
}
